.text-center {
  text-align: center;
}
.center {
  margin: auto;
  padding-inline: 20%;
}
h1 {
  text-align: center;
}
video {
  border-radius: 10px;
}
.c-orange {
  color: orange;
}
.margin-20 {
  padding-inline: 20%;
}
.b-yw {
  border-top: 2px solid;
  background-color: rgba(240, 240, 109, 0.461);
  color: rgb(41, 97, 175);
}
